Project/Intermediate
Project/Saved/Crashes
Project/Saved/SourceControl
Project/Saved/ShaderDebugInfo
Project/Saved/Logs
Project/Saved/Autosaves
Project/Saved/Config/CrashReportClient
Project/Saved/Config/WindowsEditor
Project/Saved/Config/WorldState
Project/Saved/AutoScreenshot.png
Project/Platforms
Project/.vs
Project/.vsconfig
*.sln
*.target
*.modules
Project/.idea
