Project/Intermediate
Project/Saved/Crashes
Project/Saved/SourceControl
Project/Saved/ShaderDebugInfo
Project/Saved/Logs
Project/Saved/Autosaves
Project/Saved/Config/CrashReportClient
Project/Saved/Config/WindowsEditor
Project/Saved/Config/WorldState
Project/Saved/AutoScreenshot.png
Project/Platforms
Project/.vs
Project/.vsconfig
*.sln
*.target
*.modules
Project/.idea

Project/Saved/Screenshots
*/Binaries/Win64/*.patch_*.*
Project/Saved/ImGui
Project/Saved/ImGui/imgui.ini
GasaGen_*.pdb
Project/Binaries/GasaGen.exe
Project/Binaries/GasaGen.map
Project/Binaries/GasaGen.obj
Project/Binaries/vc140.pdb
Project/Saved/Config/ConsoleHistory.ini
*.pdb
Project/Saved/Diff
