*/Binaries/Win64/*.patch_*.*

Project/.idea
Project/.vs
Project/.vsconfig

!Project/Binaries/Win64/*
Project/Binaries/GasaGen.exe
Project/Binaries/GasaGen.map
Project/Binaries/GasaGen.obj
Project/Binaries/GasaGen.raddbgi
Project/Binaries/GasaGen.rdi
# Project/Binaries/vc140.pdb
!Project/Binaries/GasaEditor.target

Project/Intermediate

Project/Platforms

Project/Saved/Config/ConsoleHistory.ini

Project/Saved/Autosaves
Project/Saved/AutoScreenshot.png
Project/Saved/Config/CrashReportClient
Project/Saved/Config/WindowsEditor
Project/Saved/Config/WorldState
Project/Saved/Crashes
Project/Saved/Diff
Project/Saved/ImGui
Project/Saved/ImGui/imgui.ini
Project/Saved/Logs
Project/Saved/Screenshots
Project/Saved/ShaderDebugInfo
Project/Saved/SourceControl

*.modules
*.pdb
*.sln
*.target

GasaGen_*.pdb
Project/Content/
.vs
.vs
